In [1]:
a  = [1, 2, 3, 4, 5, 6]

## Length
The len() function is used to determine how many items a list, set, and string has.

In [3]:
len(a)

6

In [4]:
b = {2, 2, 3, 4, 4, 4, 5}

In [6]:
len(b)

4

In [7]:
c = "Data Science"

In [9]:
len(c)

12

## Min and Max

### Min
If strings are provided as parameters, this function computes the lexicographically lowest value and the minimum of the values sent in as arguments.

In [1]:
a  = [1, 2, 3, 4, 5, 6]

In [10]:
min(a)

1

### Max
If strings are provided as parameters, this function computes the lexicographically highest value and the maximum of the values sent in as arguments.

In [1]:
b  = [1, 2, 10, 4, 5, 6]

In [2]:
max(b)

10

In [11]:
ds = "Data Science"

In [12]:
max(ds)

't'

## Count
The count() method returns the number of elements with the specified value.

In [7]:
num = (1, 2, 3, 4, 5, 5, 6, 6, 7)

In [10]:
num.count(6)

2

In [3]:
a  = [1, 2, 3, 3, 3, 4, 5, 6]

In [4]:
a.count(3)

3

In [5]:
ds = "Data Science"

In [6]:
ds.count("e")

2

## Join
There are several ways to join, or concatenate, two or more lists in Python.
Using the + operator is one of the simplest methods.

In [24]:
num = ("one", "two", "three", "four")
num2 = (2, 3, 4, 5, 6, 7, 7)

In [31]:
fixed_num1 = num + num2

In [32]:
print(fixed_num1)

('one', 'two', 'three', 'four', 2, 3, 4, 5, 6, 7, 7)

In [38]:
num = ["one", "two", "three", "four"]
num2 = [2, 3, 4, 5, 6, 7, 7]

In [39]:
fixed_num2 = num + num2

In [40]:
print(fixed_num2)

['one', 'two', 'three', 'four', 2, 3, 4, 5, 6, 7, 7]

In [27]:
ds = "Data Science"
c = "B"

In [28]:
name = ds + c

In [29]:
print(name)

Data ScienceB

## Multiplication
We can multiply lists, sets, and strings using the * operator just like multiplying numbers in general.

In [35]:
fixed_num1 * 2

('one',
 'two',
 'three',
 'four',
 2,
 3,
 4,
 5,
 6,
 7,
 7,
 'one',
 'two',
 'three',
 'four',
 2,
 3,
 4,
 5,
 6,
 7,
 7)

In [41]:
fixed_num2 * 2

['one',
 'two',
 'three',
 'four',
 2,
 3,
 4,
 5,
 6,
 7,
 7,
 'one',
 'two',
 'three',
 'four',
 2,
 3,
 4,
 5,
 6,
 7,
 7]

In [44]:
name * 3

'Data ScienceBData ScienceBData ScienceB'

## Replication
We can replicate lists, sets, and strings using *, similar to multiplication.

In [47]:
num = [1, 2, 3]
rep1 = [num]*5

In [48]:
print(rep1)

[[1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [50]:
num = (3, 4, 6)
rep2 = [num]*5

In [51]:
print(rep2)

[(3, 4, 6), (3, 4, 6), (3, 4, 6), (3, 4, 6), (3, 4, 6)]

In [54]:
ds = "data science"
rep3 = [ds]*5

In [55]:
print(rep3)

['data science', 'data science', 'data science', 'data science', 'data science']

## Range
The range() function returns a sequence of numbers.

* Starting from 0 by default
* Increments by 1 (by default)
* Stops before a specified number [i - 1]

Syntax:

In [ ]:
range(start, stop, step)

In [30]:
for i in range(5): #start
    print(i)

0
1
2
3
4

In [31]:
for i in range(1, 10): #start, stop
    print(i)

1
2
3
4
5
6
7
8
9

In [32]:
for i in range(2, 15, 2): #start, stop, step
    print(i)

2
4
6
8
10
12
14

## In
The in operator used to check if an element is found in the iterable. The in operator returns True if an element is found. It returns False if not.

In [33]:
#in dan not in
kita = "aku dan kamu"

In [34]:
"aku" in kita

True

In [35]:
"dia" in kita

False

## Not In
The not in operator used to check if an element is not found in the iterable. The in operator returns True if an element is not found. It returns False if found.

In [36]:
"dia" not in kita

True

## Multiple Variable
Python allows you to assign values to multiple variables in one line

In [2]:
book = ["A Little Life", "Inggris", 748, 250000]

In [3]:
title, lang, page, price = book

In [4]:
print(title)
print(lang)
print(page)
print(price)

A Little Life
Inggris
748
250000

In [17]:
ego, percaya_diri = "tinggi", "rendah"

In [25]:
percaya_diri, ego = ego, percaya_diri

In [26]:
ego

'tinggi'

In [27]:
pede

'rendah'

## Sort
The sort() method sorts the list ascending by default.
You can also make a function to decide the sorting criteria(s).

In [28]:
nilai = [90, 80, 60, 30, 50]

In [29]:
nilai.sort()

In [30]:
print(nilai)

[30, 50, 60, 80, 90]

In [34]:
siswa = ["azkia", "arnes", "nabila", "Vega", "Arini"]

In [35]:
siswa.sort(key = str.lower) #lowercase

In [36]:
print(siswa)

['Arini', 'arnes', 'azkia', 'nabila', 'Vega']

In [9]:
age = [21, 20, 20, 23, 18]

In [10]:
age.sort()

In [11]:
print(age)

[18, 20, 20, 21, 23]

In [12]:
age.sort(reverse=True)

In [13]:
print(age)

[23, 21, 20, 20, 18]