## Operators
Operators are used to perform operations on variables and values.

### Arithmetic Operators

* \+  :	Addition
* \-  :	Subtraction
* \*  :	Multiplication
* /	  :  Division	
* %	  :  Modulus
* **  : Exponentiation
* //   :	Floor division

#### Addition (+)

In [2]:
print(1+3)

4

In [5]:
'da' + 'ta'

'data'

#### Subtraction (-)

In [1]:
print(1-3)

-2

#### Multiplication (*)

In [2]:
print(1*3)

3

In [9]:
'data'*3

'datadatadata'

#### Division (/)

In [3]:
print(1/3)

0.3333333333333333

#### Modulus (%)

In [5]:
print(30%4)

2

#### Exponentiation (**)

In [6]:
print(3**3)

27

#### Floor division (//)

In [7]:
print(29//2)

14

### Assignment Operators

* =
* +=
* -=
* *=
* /=
* %=	
* //=
* **= 
* &= 
* |=
* ^=	
* \>>=	
* <<=

In [21]:
a = 1
b = 2
c = 10

In [17]:
a += 2
a

5

In [18]:
b -= 1
b

1

In [19]:
b *= 6
b

6

In [22]:
c -= b
c

8

### Comparison Operators

* ==	Equal
* !=	Not equal
* \>	Greater than
* <	Less than
* \>=	Greater than or equal to
* <=	Less than or equal to

In [24]:
1 == 1

True

In [25]:
1 != 2

True

In [26]:
4 > 3

True

In [28]:
4 < 3

False

In [29]:
8 >= 3

True

In [30]:
8 <= 3

False

### Logical Operators

* and : 	Returns True if both statements are true
* or  :	Returns True if one of the statements is true
* not :	Reverse the result, returns False if the result is true

In [31]:
x = 1
y = 2

In [33]:
x == x and y == y

True

In [34]:
x != x or y == y

True

In [35]:
not(x != x or y == y)

False

### Identity Operators

* is : 	Returns True if both variables are the same object
* is not :	Returns True if both variables are not the same object

In [36]:
a = 4
b = 4
c = 7

In [37]:
a is b

True

In [38]:
a is not c

True

### Membership Operators

* in : 	Returns True if a sequence with the specified value is present in the object
* not in :	Returns True if a sequence with the specified value is not present in the object

In [39]:
a = "data science"

In [40]:
"data" in a

True

In [41]:
"azkia" not in a

True