# Statistics For Data Science
Statistical  is the science that studies data. 

While statistics are the results of data presented in the form of tables, graphs and so on.

Statistics combines some techniques for drawing a reliable conclusion about a large group (population) by experimenting on a small group (sample) and summarizing the dataset.

## Population and Sample
-  A population is the set of resources from where we can collect data
- A Sample is a selected group of members from the population which represents that population.

## Types of Statistics Concepts
There are two types of statistics.
- Descriptive Statistics

Descriptive statistics summarizes/describes the population or sample dataset. It covers the topics : types of data, variables, distribution, central tendency, percentile and quartile, correlation, etc.
- Inferential Statistics

Inferential statistics is part of statistics that finds reliable inferences of population data from sample data. It covers Confidence Interval, Hypothesis Testing, Level of Significance, Central Limit Theorem, Point Estimator and Estimate, Standard Error, Analysis of Variance (ANOVA), Chi-Square Test, etc.

## Probability and Statistics
Probability and statistics are two related but separate academic disciplines. Statistical analysis often uses probability distributions, and the two topics are often studied together.

P = n(a) / n(s)


The dataset that we will use is the titanic dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('titanic.csv')

In [3]:
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df['Sex'].unique()

array(['male', 'female'], dtype=object)

Probability of survived female passenger

In [7]:
na = df[(df['Sex'] == 'female') & (df['Survived'] == 1)].shape[0]

In [8]:
ns = df['PassengerId'].shape[0]

In [9]:
p = na/ns

In [10]:
p

0.2615039281705948