## Python Output Using print() function

In [1]:
print("Hello, World!")

Hello, World!

Another example is given below:

In [2]:
a = 3

In [5]:
print("The value is of a is", a)

The value is of a is 3

## Python Print output with custom sep and end parameter

In [9]:
print("datascience", end = "@") # Specify Ending

datascience@

In [10]:
print('N', 'O', 'V', sep = "*") # Specify separator

N*O*V

## Output Formatting

### Using format()
With this output format, the curly braces { } work as placeholders. We can specify the order in which variables occur in the output.

In [12]:
# Initializing variables
a = 5
b = 10
 
# addition
sum = a + b
 
# subtraction
sub = a- b
 
# Output
print('The value of a is {} and b is {}'.format(a, b))
 
print('{2} is the sum of {0} and {1}'.format(a, b, sum))
 
print('{sub_value} is the subtraction of {value_a} and {value_b}'.format(value_a = a ,value_b = b, sub_value = sub))

The value of a is 5 and b is 10
15 is the sum of 5 and 10
-5 is the subtraction of 5 and 10

%s string
%d integer
%f float

### Using % Operator
% values are replaced with zero or more value of elements.
* %d – integer
* %f – float
* %s – string
* %x – hexadecimal
* %o – octal

In [13]:
add = 4 + 5
 
# Output
print("The sum is %d" %add)

The sum is 9

## Input

To take user input, use the input() function.

### Get user input with a message

In [16]:
name = input("Name: ")
print(type(name))

Name: Juliet
<class 'str'>

### Integer input

In [17]:
num = int(input("Enter a number: "))
 
add = num + 10
 
# Output
print(add)

Enter a number: 10
20

### Take Multiple Inputs

By using map() method in python, we can take multiple inputs of the same data type at a time.

In [21]:
a, b, c = map(int, input("Enter the Numbers : ").split())
print("The Numbers are : ", end = " ")
print(a, b, c)

Enter the Numbers : 1 2 3
The Numbers are :  1 2 3